*{
    margin: 0;
    padding: 0;
}
.square{
    float: left;
    position: relative;
    width: 500px;
    height: 400px;
    left: 20%;
    top: 5%;
}
.game{
    width: 200px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-color: #f2faff;
    border: 1px solid skyblue;
    border-top: none;
    top: 10px;
}
.next{
    width: 80px;
    height: 80px;
    position: absolute;
    border: 2px solid skyblue;
    left: 0;
    top: 38px;
}
.info{
    position: absolute;
    left: 0;
    top: 152px;
}
h3,.czs{
    text-align: center;
}

/* 定义操作方块 */
.none,.current,.done{
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
}
.none{
    background-color: #f2faff;
}
.current{
    background-color: pink;
    border: 1px solid red;
}
.done{
    background-color: gray;
    border: 1px solid black;
}

