a{
    text-decoration: none;
    padding: 0;
}
figure{
    width: 720px;
    margin: auto;
    text-align: center;
}
figure figcaption{
    margin: 20px;
}
figure .play{
    height: 360px;
    background: url('../img/loading.gif') center;
    background-size: 100%;
}
figure .play video{
    width: 640px;
    height: 100%;
    margin: 0 auto;
    display: block;
}
figure .play .control{
    width: 700px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    position:absolute;
    display: flex;
    align-items: center;
    transform: translate(1.5%,-110%);
}
figure .play .control .swith{
    display: block;
    width: 20px;
    height: 24px;
    font-size: 25px;
    color: #FFF;
    margin-left: 10px;
}
.progress{
    width: 430px;
    height: 10px;
    border-radius: 5px;
    background-color: #555555;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
}
.progress .line{
   position: absolute;
   top: 0;
   left: 0;
   background-color: #fff;
   height: 10px;
   width: 0;
}
.times{
    margin-left: 15px;
    color: #fff;
}
.full{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
    color: #fff;
}
